<!DOCTYPE html>
<html ng-app="dylanApp">
<head>
	<title>2</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<script src="colorthief.js"></script>
	<script src="angular.js"></script>
</head>
<body ng-controller="mainController">
	<div class="container">
		<div class="title"><h1>Dylan Lee</h1></div>
		<div class="film"><span>{{gallery[index+1].film_type}}</span></div>
		<div class="color-bar"></div>
		<img imageonload="setColorPalette(); colorBar()" class="photo" ng-src="/imgs/{{gallery[index+1].file}}">
		<div class="navigation-arrows">
			<div ng-click="decrementIndex(gallery);" class="navigation-arrows__arrow">Previous</div>
			<div ng-click="incrementIndex(gallery);" class="navigation-arrows__arrow">Next</div>
		</div>
	</div>
</body>
</html>